body{
  margin: 0;
}

.color-yellow{
  background-color: yellowgreen;
}

.circle-color{
  background-color: black;
  clip-path: circle(50% at 50% 50%);
  height: 100px;
  width: 100px;
  margin: 15px auto;
  opacity: 0.5;
}

.circle-text{
  text-align: center;
  color: white;
  font-size: xx-large;
  padding-top: 25px;
}

.btm-color{
  clip-path: polygon(50% 79%, 70% 70%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 30% 70%);
  background-color: brown;
  height: 500px;
  width: 100%;
  margin-top: 0;
}

.text{
  color: white;
  text-align: center;
  margin-top: 80px;
}